
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div> 
        <div class="success">
            <span>Mesajınız başarılı bir şekilde gönderildi.</span>
        </div>
    </div>
</body>
</html>
