
@{
    Layout = null;
    if(Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <div>
        <div class="success">
            <span>Mesajınız başarılı bir şekilde gönderildi.</span>
            <a href="@Url.Action("Logout","Home")">Log Out</a>
        </div>
    </div>
</body>
</html>


